<footer class="main-footer">
    <div class="container">
        <div class="footer-social">
            <h2 class="text-center grey">{{ site.github_username }}</h2>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">github</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p class="text-center">
        hosted by github
        </p>
    </div>
</footer>
