<footer class="main-footer">
    <div class="container">
        <div class="footer-social">
            <h2 class="text-center grey mb-5">{{ site.author }}</h2>
            <ul class="nav justify-content-center social dark">
                <li class="nav-item">
                    <a class="nav-link active" href="https://twitter.com/{{ site.twitter_username }}">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/{{ site.github_username }}">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p class="text-center dark">
        hosted by github <span>&gt; subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></span>
        </p>
    </div>
</footer>
