<section class="banner-header">
    <header class="main-header">
        <nav class="bg_dark navbar">
            <a class="navbar-brand" href="{{ site.url }}">{{ site.twitter_username }}</a>
            <section class="social-tab navbar-toggler-right">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ site.url }}/blog/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.url }}/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.url }}/contact/">Contact</a>
                    </li>
                </ul>
            </section>
        </nav>
        <section class="section-main jumbotron jumbotron-fluid">
            <div class="container">
                <div class="banner-text">
                    {% if page.title %}
                    <h2>{{ page.title }}</h2>
                    <p>{{ site.github_username }} | {{ page.date }} | {{ page.categories[0] | '' }}</p>
                    {% else %}
                    <h2>{{ site.title }}</h2>
                    <p>{{ site.description }}</p>
                    {% endif %}
                </div>
            </div>
        </section>
    </header>
</section>
