<section class="banner-header">
    <section class="section-main">
        <div class="container">
            <div class="banner-text">
                <h2>{{ site.title }}</h2>
                <h3>{{ site.description }}</h3>
            </div>
        </div>
    </section>
    <header class="main-header">
        <nav class="">
            <ul>
                <li class=""><a href="#">Home</a></li>
                <li class=""><a href="#">Blog</a></li>
                <li class=""><a href="#">About</a></li>
                <li class=""><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
</section>
