<section class="banner-header">
    <header class="main-header">
        <nav class="navbar nav-typo dark">
            <a class="navbar-brand" href="{{ site.url }}">
                <img src="/assets/imgs/little-logo.png" width="30" height="25" class="d-inline-block align-top" alt="logo">
                Szorfein
            </a>
            <section class="social-tab navbar-toggler-right">
                <ul class="nav justify-content-end dark">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ site.url }}/blog/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.url }}/desktops/">Desktop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.url }}/about/">About</a>
                    </li>
                </ul>
            </section>
        </nav>
        <section class="section-main jumbotron jumbotron-fluid">
            <div class="container">
                <div class="banner-text dark">
                    {% if page.title and page.categories[0] %}
                    <h2 class="display-4">{{ page.title }}</h2>
                    <hr class="my-4">
                    <p><a href="{{ site.url }}/about/">{{ site.github_username }}</a> | {{ page.date }} | <a href="{{ site.url }}/tags/">{{ page.categories[0] }}</a></p>
                    {% else %}
                    <h2 class="display-4">{{ site.title }}</h2>
                    <hr class="my-4">
                    <p>{{ site.description }}</p>
                    {% endif %}
                </div>
            </div>
        </section>
    </header>
</section>
