<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-7">
        {% for i in page.link %}
        <div class="desktop card mb-4">
            <a href="{{ i.img }}">
                <img class="card-img" src="{{ i.img }}">
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="col">
        <h1 class="title">wm</h1>
        <p>{{ page.wm }}</p>
        <h1 class="title">font-terminal</h1>
        <p>{{ page.font-terminal }}</p>
        <h1 class="title">font-desktop</h1>
        <p>{{ page.font-desktop }}</p>
        <h1 class="title">terminal</h1>
        <p>{{ page.terminal }}</p>
        <h1 class="title">wallpaper</h1>
        <p><a href="{{ page.wallpaper }}">{{ page.wallpaper }}</a></p>
        {% if include.color %}
        <h1 class="title">colors</h1>
        <p>{{ include.color }}</p>
        {% endif %}
    </div>
</div>
