<div class="row">
    <div class="col-sm-12 col-md-8">
        {% for i in page.link %}
        <div class="card mb-4">
            <img class="card-img" src="{{ i.img }}">
        </div>
        {% endfor %}
    </div>

    <div class="col">
        <h1 class="title">wm</h1>
        <p>{{ page.wm }}</p>
        <h1 class="title">font-terminal</h1>
        <p>{{ page.font-terminal }}</p>
        <h1 class="title">font-desktop</h1>
        <p>{{ page.font-desktop }}</p>
        <h1 class="title">terminal</h1>
        <p>{{ page.terminal }}</p>
        <h1 class="title">wallpaper</h1>
        <p>{{ page.wallpaper }}</p>
        {% if include.color %}
        <h1 class="title">colors</h1>
        <p>{{ include.color }}</p>
        {% endif %}
    </div>
</div>
