/* 
 * General
 */

body, html, p {
    color: #1d1919;
    font-weight: 400;
}

/*
 * Class 
 */

.grey {
    color: #c7c7c7;
}

.banner-header {
    background-color: #333;
}

.section-main {
    background-image: url("imgs/bg.jpg");
    background-repeat: no-repeat;
    height: 168px;
}

.banner-text {
    padding-top: 0;
    padding-bottom: 85px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0!important;
}

.main-header {
    width: 100%;
    font-size: .9em;
    background-color: rgba(13,17,20,1);
}

.main-container {
    padding-top: .6rem;
    padding-bottom: 1.5rem;
}

.post img {
    width: 100%;
    height: 16rem!important;<
}

.desktop img {
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 19px;
    color: #333;
    text-transform: uppercase;
}

.btitle {
    font-weight: 700;
    font-size: 25px;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 48px;
}

.bg_dark {
    background-color: #333;
}

.bg_dark a {
    color: #ede;
}

.copyright {
    background-color: #1d1d21;
    padding: 20px 0;
}

.copyright p {
    font-size: 9px;
    text-transform: uppercase;
    color: #6e6e6e;
}

.section-common {
    padding-top: 48px;
    padding-bottom: 48px;
}

.nav-typo ul li a {
    font-weight: 700;
    line-height: 1.9;
    text-transform: uppercase;
}

.social li a {
    height: 40px;
    line-height: 23px;
    border-radius: 50%;
    background-color: #383838;
    font-size: 30px;
    margin: 0 5px;
}

.dark {
    color: #f0f4f5;
}

.dark a {
    color: #eee;
    text-decoration: none;
}

.dark a:hover {
    color: #b94374!important;
    text-decoration: none;
}

.dark a:active {
    color: #eee;
}

.dark a:visited {
    color: #eee;
}

.dark a:link {
    color: #eee;
}

.light {
    color: #444;
    text-decoration: none;
}

.light a {
    color: #444;
}

.light a:hover {
    color: #b94374!important;
}

.light a:active {
    color: #444;
}

.light a:visited {
    color: #444;
}

.light a:link {
    color: #444;
}

.btn-primary {
    background-color: #336f6c!important;
    border-color: #3fccc4!important;
}

.btn-primary:hover {
    background-color: #438e8a!important;
    border-color: #3fccc4!important;
    color: #fff!important;
}

.card-title a {
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
}

.card-title a:hover {
    color: #b94374!important;
    text-decoration: none!important;
}

.widget {
    margin-bottom: 1.5rem;
}

.main-markdown {
    margin: auto;
}

.main-markdown img {
    width: 100%;
    padding: 2em;
}

.main-markdown pre {
    padding: 1.2em 20px;
    background-color: rgba(251,251,251,1);
    line-height: 1.2rem;
}

.main-markdown h1 {
    margin-top: 1.4rem;
    color: #000000;
    padding: .3em 0;
    border-bottom: 1px solid #d5d2d8;
}

.main-markdown h2 {
    margin-top: 1.2rem;
}

.main-markdown h3 {
    margin-top: 1.1rem;
}

.main-markdown p {
    margin: 1.4rem 0;
    line-height: 1.6rem;
    font-size: 1.1rem;
}

.main-markdown a {
    color: #444;
}

.main-markdown a:hover {
    color: #b94374!important;
}

.navbar-toggler-right {
    top: 2px;
}

.desc_post {
    padding-top: 8px;
}

.card-footer {
    background-color: rgba(243,241,242,0)!important;
}

.share_link {

}

.align-right {
    position: absolute;
    right: 25px;
}

.card-columns {
    column-count: 4;
}

.display-4 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 3.3rem;
}

/* 
 * Media
 */

@media (min-width: 992px) {
    .md-desktop pre {
        width: 23rem;
    }

    .col-lg-12 {
        flex: 0 0 80% !important;
        margin: auto;
    }

    .main-markdown {
        width: 74%;
    }

}

@media (min-width: 1140px) {
    .md-desktop pre {
        width: 27rem;
    }
}

.card {
    border: none !important;
}

.col-lg-7 {
    margin: auto !important;
}

.col-lg-8 {
    margin: auto !important;
}

.col-lg-9 {
    margin: auto !important;
}

.col-xl-7 {
    margin: auto !important;
}

.social {
    color: #fff;
    padding: .9em 0;
}

.social .btitle {
    color: #dee4e4 !important;
}

.badge {
    margin: .3em .1em !important;
    line-height: 1.3em !important;
}

.jumbotron {
    padding: 3rem 2rem !important;
}

.hr { 
    margin-top: .1rem;
}

.main-header .display-4 {
    font-size: 2.6rem;
}

.pre-code {
    color: #364c43;
}
