/* 
 * General
 */

body, html, p {
    color: #757575;
    font-size: 13px;
    font-weight: 400;
}

/*
 * Class 
 */

.grey {
    color: #757575;
}

.banner-header {
    background-color: #333;
}

.section-main {
    background-image: url("/assets/imgs/bg.jpg");
    background-repeat: no-repeat;
    height: 310px;
}

.banner-text {
    padding-top: 35px;
    padding-bottom: 85px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0!important;
}

.main-header {
    width: 100%;
}

.main-footer {
    background-color: #232328;
}

.main-container {
    padding-top: .6rem;
    padding-bottom: 1.5rem;
}

.main-container img {
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 19px;
    color: #333;
    margin-top: 6px;
}

.btitle {
    font-weight: 700;
    font-size: 25px;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 48px;
}

.bg_dark {
    background-color: #333;
    color: #ede;
}

.bg_dark a {
    color: #ede;
}

.main-footer h2 {
    padding-top: 14px;
    padding-bottom: 8px;
}

.footer-social {
    padding: 78px 0 92px;
}

.copyright {
    background-color: #1d1d21;
    padding: 20px 0;
}

.copyright p {
    font-size: 9px;
    text-transform: uppercase;
    color: #6e6e6e;
}

.section-common {
    padding-top: 43px;
    padding-bottom: 48px;
}
