---
layout: default
---

<div class="container">

    <h2 class="text-center btitle">Last desktop</h2>
    <div class="row">
        {% for portfolio in site.data.portfolios limit:2 %}
        <div class="col-md-6">
            {% capture imgLink %}{{ portfolio.url[0].link }}{% endcapture %}
            {% capture imgTitle %}{{ portfolio.title }}{% endcapture %}
            {% include portfolio.html title=imgTitle link=imgLink %}
        </div>
        {% endfor %}
    </div>

    <h2 class="text-center btitle">Last article</h2>
    <div class="row">
        {% for post in site.posts limit:3 %}
        <div class="col-md-4">
            {% capture postTitle %}{{ post.title }}{% endcapture %}
            {% include post.html title=postTitle %}
        </div>
        {% endfor %}
    </div>

</div>
