---
layout: default
---

<div class="container">
    <div class="row">
        <div class="card-columns">

            {% assign desktops = site.desktops | date_sort | reverse %}
            <div class="col-sm-12 col-md-12 col-lg-6">
                {% for desk in desktops limit:9 %}
                {% capture imgLink %}{{ desk.link[0].img }}{% endcapture %}
                {% capture imgTitle %}{{ desk.title }}{% endcapture %}
                {% capture url %}{{ site.url}}{{ desk.url }}{% endcapture %}
                {% include portfolio.html title=imgTitle link=imgLink url=url %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
