---
layout: default
---

<div class="container">
    <div class="card-columns">

        {% assign desktops = site.desktops | date_sort | reverse %}
        {% for desk in desktops limit:9 %}
        {% capture imgLink %}{{ desk.link[0].img }}{% endcapture %}
        {% capture imgTitle %}{{ desk.title }}{% endcapture %}
        {% capture url %}{{ site.url}}{{ desk.url }}{% endcapture %}
        {% include portfolio.html title=imgTitle link=imgLink url=url %}
        {% endfor %}

    </div>
</div>
