---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-sm-7 col-md-8">
            <div class="container-fluid">
                <div class="row">
                    {% for post in site.posts %}
                    {% capture postTitle %}{{ post.title }}{% endcapture %}
                    <div class="col">
                        {% include post.html title=postTitle %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-4">
            <h1 class="title">recent post</h1>
            <ul class="nav flex-column">
                {% for post in site.posts %}
                <li class="nav-item">
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </li>
                {% endfor %}
            </ul>

            <h1 class="title">categories</h1>
            <ul>
                {% for tag in site.data.tags %}
                <li>
                    <a href="#">
                        {{ tag.name }} 
                    </a>
                    <ul class="nav flex-column">
                        {% for post in tag['post'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                {{ post.title | escape }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>

            <h1 class="title">archive</h1>

            <h1 class="title">tags</h1>
            <h3>
                {% for tag in site.data.tags %}
                <a href="{{ site.url }}/tags"><span class="badge badge-default">{{ tag.name }} ({{ tag.post.size }})</span></a>
                {% endfor %}
            </h3>
        </div>
    </div>
</div>
