---
layout: default
---

<div class="container">
    <ul>
        {% for tag in site.data.tags %}
        <li class="light">
            <a href="#{{ tag.name }}">{{ tag.name }}
                <span class="badge badge-default badge-pill">({{ tag.post.size }})</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    {% for tag in site.data.tags %}
    <h1 class="title" id="{{ tag.name }}">{{ tag.name }}</h1>
    <ul>
        {% for post in tag['post'] %}

        {% for article in site.data.articles %}
        {% if article.title == post.title %}
        <li class="nav-item light">
            <a class="nav-link" href="{{ site.url }}{{ article.url }}">
                {{ article.title }}
            </a>
        </li>
        {% endif %}
        {% endfor %}

        {% endfor %}
    </ul>
    {% endfor %}
</div>
